@use "./colours.scss" as *;
@use "./fonts.scss" as *;
@use "../utils" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-Barlow;
  // background: $LGrayish_Blue;
  background-color: $white;
  color: $Dark_Blue;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

header {
  min-width: 100vw;
}

.container {
  width: 88%;
  margin: 0 auto;

  @include media(">=tablet") {
    width: 92%;
  }

  @include media(">=desktop") {
    width: 88%;
  }

  @include media(">=1150px") {
    width: 85%;
  }
}

.absolute {
  background: $LGrayish_Blue;
  width: 50%;
  height: rem(330);
  border-bottom-left-radius: rem(55);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -100;
}

button {
  border: none;
  cursor: pointer;
  font-family: $font-Barlow-Condensed;
}
