$Red: hsl(0, 100%, 68%);
$LRed: hsl(0, 77%, 70%);
$Dark_Blue: hsl(230, 29%, 20%);
$DGrayish_Blue: hsl(230, 11%, 40%);
$Grayish_Blue: hsl(231, 7%, 65%);
$LGrayish_Blue: hsl(202, 22%, 93%);
$white: hsl(0, 0%, 100%);
 